@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:300,400,500,600,700,800,900&display=swap');

body {
	font-family: 'Darker Grotesque', sans-serif;
}



.logo {
  font-size: 31px;
  color: #000;
  font-weight: 900;
}
.logo:hover {
  text-decoration: none;
  color: #1f1e1e;
}
.mainmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mainmenu li {
  display: inline-block;
  padding: 10px;
}
.mainmenu li a,
.mainmenu li a.active {
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 19px;
  padding: 14px;
  position: relative;
}
.mainmenu li a:hover:after {
  position: absolute;
  left: 50%;
  bottom: 8px;
  width: 30px;
  height: 2px;
  content: '';
  background: black;
  margin-left: -15px;
}
a:hover {
  text-decoration: none;
}
input[type="text"] {
  border: 1px solid #ddd;
  width: 62%;
  padding: 9px 15px;
  color: #000;
  font-weight: 700;
}
input[type=submit] {
  padding: 10px 29px;
  border: none;
  background: #000;
  color: #fff;
  font-weight: 500;
}
header {
  padding: 32px 0;
}




.single-photo-item a {
  color: #333;
}
.single-photo-item h5 {
	font-weight: 600;
	margin-top: 12px;
	font-size: 16px;
}

.single-photo-item h5 img {
  border-radius: 50px;
}
.single-photo-item h5 span {
  font-weight: 600;
  padding-left: 5px;
}
.content-block {
  padding: 50px 0;
}
.headingText {
  margin-bottom: 29px;
}
.content-block h3 {
  text-align: left;
  font-weight: 900;
  font-size: 37px;
}
img {
  max-width: 100%;
}
.copyright-text h3 {
  font-size: 50px;
}
.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 50px;
  margin-bottom: 100px;
}
.footer-menu li {
  display: inline-block;
}
.footer-menu li a {
  font-size: 20px;
  color: #333;
  text-transform: uppercase;
}

.copyright {
	font-weight: 600;
	margin-bottom: 50px;
}

.single-photo-item {
	margin-bottom: 32px;
}


.photo-wrapper {
  height: 200px;
}
.photo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* STYLES FOR PAGES */
/*Main Stylesheet Start:*/
h1,h2,h3,h4,h5,h6 {
  margin-bottom: 40px;
  font-weight: 700;
}

.section-padding {
  padding:100px 50px;
  position: relative;
  z-index: 1;
}
.section-padding::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  box-shadow: 0 0 10px #000;
  z-index: -1;
  opacity: 0.4;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="submit"], input[type="button"], button[type="button"], button[type="submit"], textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}
.headingText input {
  width:70%;
}
input:focus,
textarea:focus,
button:focus {
  border:1px solid #ddd;
}

input[type=submit],
input[type=button],
button[type=button],
button[type=submit] {
  width:auto;
  border:none;
  padding:16px 26px;
}
textarea {
  resize: none;
  height: 101px;
}

.social-icon a {
  display: inline-block;
  font-size: 18px;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #0daef1;
  margin-right: 8px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid;
}
.social-icon a:hover {
  box-shadow: 0 0 10px #0c0b0b;
  border-color: #504747;
  transition: all 0.2s linear;
}
.social-icon {
  margin-top: 43px;
}

.contact-info p{
  margin-bottom: 0;
}
.contact-info p a {
  padding-left: 7px;
  color: #000;
  font-weight: 600;
  font-style: italic;
}
h4 {
  margin-bottom: 10px;
  font-weight: 900;
}
.info-text {
  margin-bottom: 26px;
}
.contact-info {
  padding: 10px 40px;
}
.contact-form h4 {
  margin-bottom: 19px;
}




/* About Page */
.credit img {
  width: 158px;
  margin-bottom: 10px;
  height: 160px;
}
.credit h5 {
  font-weight: 600;
}
.credit h5 span {
  display: block;
  font-size: 80%;
  font-weight: normal;
  margin-top: 5px;
}
.meta {
  padding: 16px 0;
}

.boxed-btn {
  display: inline-block;
  background: black;
  color: #fff;
  padding: 10px 20px;
  font-size: 19px;
  border-radius: 10px;
  margin-top: 20px
}




/*Single photo details*/

.single-photo-wrapper {
  position: relative;
  z-index: 1;
}
.single-photo-info {
  color: #fff;
  display: inline-block;
  padding: 50px;
  position: absolute;
  left: 0;
  top: 10%;
  z-index: 2;
}
.single-photo-info::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: #090000;
  z-index: -1;
  color: ;
  opacity: .7;
}


.single-photo-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.single-photo-info li {
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
  font-style: italic;
}
.single-photo-info li label {
  padding-right: 10px;
  display: ;
  font-weight: 600;
  font-style: none;
}
.single-photo-info li:last-child {
  border: none;
}

.photo-info-btn {
  display: inline-block;
  color: #fff;
  font-size: 17px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 18px 39px;
  margin-bottom: 0px;
  border: 1px solid;
  border-radius: 50px;
}
.photo-info-btn:hover {
  background: #fff;
  color: #000;
  box-shadow: 0 0 10px #fff;
  transition: all .2s linear;
}





/*Realated Photos*/
.related img {
  width: 14%;
  height: 124px;
  margin: .5%;
}
.related {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
}



.notFound h3 {
  text-align: center;
  margin-bottom: 0;
}